@use "sass:string";
/*------------ [Font] -----------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Tajawal:wght@400;500;700&family=Work+Sans:wght@400;500;600&display=swap");

/*------------ [Root]-----------*/
$headFont: "Inter", sans-serif;
$textFont: "Work Sans", sans-serif;
$altFont: "Tajawal", sans-serif;

/* Colors */
$white: #ffffff;
$black: #000000;
$gray: #e5e5e5;
$primary: #ff9100;
$secondary: #FFF1DD;
$yellowText: #ffb53e;
$whiteText: #d9d9d9;
$darkText: #0e0e0e;
$primaryBg: #ffedd5;
$secondaryBg: #202020;
$assets: #333333;
$navText: #e8f8f8;
$footerText: #a3a3a3;

/* Font Sizes */
// $sixty: 40px;
// $fiftySeven: 32px;
// $fourty: 24px;
// $thirtySix: 32px;
// $thirtyTwo: 28px;
// $twentyFour: 20px;
// $twentyTwo: 22px;
// $twenty: 18px;
// $eighteen: 17px;
// $sixteen: 16px;
// $fourteen: 14px;
// $twelve: 12px;
// $ten: 10px;  

$sixty: 60px;
$fiftySeven: 57px;
$fourty: 40px;
$thirtySix: 36px;
$thirtyTwo: 32px;
$thirty: 30px;
$twentyEight: 28px;
$twentyFour: 24px;
$twentyTwo: 22px;
$twenty: 20px;
$eighteen: 18px;
$sixteen: 16px;
$fourteen: 14px;
$twelve: 12px;
$ten: 10px;

/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $headFont;
}

p {
  font-family: $textFont;
  font-size: $sixteen;
  font-weight: 400;
  line-height: 1.5rem;
  color: $whiteText;
  text-transform: none;
}

h1 {
  font-size: $fourty;
  font-family: $headFont;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  color: $darkText;
}

h2 {
  font-size: $thirtyTwo;
  font-family: $headFont;
  line-height: 40px;
  font-weight: 700;
}

h3 {
  font-size: $twentyFour;
  line-height: 52px;
  font-weight: 600;
}

h4 {
  font-size: $twentyEight;
  line-height: 2.5rem;
  font-weight: 600;
}

h5 {
  font-size: $twenty;
  font-weight: 500;
  line-height: 1.5rem;
}

h6 {
  font-size: $sixteen;
  line-height: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: $textFont;
}

@media screen and (min-width: 900px) {
  p {
    font-size: $sixteen;
  }

  h1 {
    font-size: $sixty;
    line-height: 66px;
  }
  h2 {
    font-size: $fiftySeven;
    line-height: 64px;
  }
  h3 {
    font-size: $fourty;
  }
  h4 {
    font-size: $thirtyTwo;
  }
  h5 {
    font-size: $twentyFour;
  }
  h6 {
    font-size: $eighteen;
  }
}

/*=====================================*/
/*-------------[Button] -------------*/
/*=====================================*/
button {
  font-family: $textFont;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  transform: scale(0.9, 0.9);
}

.btnPrimary {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 18px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: $primary;
  color: $black;
  border: none;
  font-size: $sixteen;
  font-weight: 500;
  border-radius: 6.5px;
  transition: all 0.3s;
}

/*=====================================*/
/*-------------[Body Style] -------------*/
/*=====================================*/

.primaryText {
  color: $primary;
}
