@import "../../variable/variable.scss";

.partnerHero_section {
    width: 100%;
    background-color: $secondary;
    position: relative;

    @media screen and (min-width: 800px) {
        background: url(../../assets/images/partnerImages/Vector-1.png) #ffedd5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem;
        height: 515px;
        display: flex;

    }

    @media screen and (min-width: 1024px) {
        // padding: 2rem 3rem;
    }

    .partnerHero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        gap: 3rem;
        
        @media screen and (min-width: 800px) {
            width: 50%;
            align-items: flex-start;
        }

        @media screen and (min-width: 1024px) {
            align-items: flex-end;
            max-width: 650px;
        }

        .partnerHero_texts {
            width: 100%;
            margin: 3rem auto 2rem;
            text-align: center;
            
            @media screen and (min-width: 800px) {
                width: 90%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                text-align: left;
                margin: 0;
            }

            .partnerHero_title {
                display: inline;
                text-align: center;
                color: $secondaryBg;
                font-size: $fourty;
                line-height: 60px;

                @media screen and (min-width: 800px) {
                    text-align: left;
                    font-size: $fiftySeven;
                }
            }

            .partnerHero_subtitle {
                font-size: $eighteen;
                font-weight: 500;
                color: $assets;
                margin-top: 1rem;
            }
        }

        .partnerHero_imageMobile {
            display: block;
            width: 100%;

            @media screen and (min-width: 800px) {
                display: none;
            }
        }
    }
}
