@import "../../variable/variable.scss";

.communitySection {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: $white;

    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    .communitySection_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;
        gap: 2rem;
        width: 90%;

        @media screen and (min-width: 950px) {
            flex-direction: row;
        }

        .communitySection_image {
            max-width: 550px;
            width: 100%;
            height: 374px;
            background: $assets;
            border-radius: 28px;

            @media screen and (min-width: 950px) {
                width: 48%;
            }
        }

        .communitySection_texts {
            width: 100%;
            display: grid;
            place-items: center;
            text-align: center;

            @media screen and (min-width: 950px) {
                width: 48%;
                text-align: left;
                display: block;
            }

            .communitySection_title {
                font-weight: 700;
                color: $black;
                background: url(../../assets/images/communityVector.svg);
                background-size: 60%;
                background-repeat: no-repeat;
                background-position: right;
                width: fit-content;
                line-height: 64px;
                height: 64px;
                font-size: $thirtyTwo;

                @media screen and (max-width: 400px) {
                    background-size: 70%;
                    background-position: bottom;
                    line-height: 40px;
                    height: fit-content;
                }

                @media screen and (min-width: 950px) {
                    font-size: $fourty;
                    background-size: 53%;
                }
            }

            p {
                font-size: $sixteen;
                line-height: 32px;
                color: $black;
            }

            .btnPrimary {
                width: 250px;
                height: 56px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: $eighteen;
                gap: 1rem;
                margin-top: 2rem;
            }
        }
    }
}
