@import "../../variable/variable.scss";

.termsSection{
    background: $white;
    height: 100%;

    &_header{
        padding: 2rem 1rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .termsSection_headerText{
            color: $black;
            text-transform: uppercase;
        }
    }

    .termsSection_content{
        padding: .5rem;
        text-align: justify;
        font-size: 1.2rem;
        line-height: 1.5rem;

        @media screen and (min-width: 500px) {
            padding: 1rem;
        }

        @media screen and (min-width: 768px) {
            padding: 1rem 2rem;
        }

        .termsSection_contentText{
            color: $black;

            span{
                text-transform: uppercase;
                font-weight: 700;
            }
        }

        .termsSection_contentTitle{
            color: $black;
            font-weight: 600;
            font-size: 1.5rem;
            margin: 2rem 0 1rem;
            line-height: 30px;
            text-transform: capitalize;
        }

        .termsSection_contentSubtitle{
            color: $black;
            font-weight: 600;
            font-size: 1.25rem;
            margin: 1rem 0 1rem;
            line-height: 24px;
            text-transform: capitalize;
        }

        .termsSection_contentTitle + .termsSection_contentSubtitle{
            margin: 0;
        }
    }



}