@import "../../variable/variable.scss";

.heroSection {
    background: $white;
    height: 100%;
    width: 100vw;
    padding: 1rem;
    
    @media screen and (min-width: 768px) {
        padding: 2rem;
    }
    
    .heroContent {
        width: 100%;
        margin: 2rem auto;
        display: flex;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        .heroTexts {
            background: url(../../assets/images/HeroBg.svg) no-repeat;
            background-size: contain;
            background-position: center;
            
            @media screen and (min-width: 768px) {
                width: 50%;
                padding: 3rem 0 0 ;
                
            }

            .heroTitle {
                color: $darkText;
                font-family: $headFont;
                text-align: center;

                @media screen and (min-width: 768px) {
                    text-align: left;              
                }
            }

            .heroSubtitle_desktop {
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                    font-size: $twenty;
                    color: $darkText;
                    margin-top: 1.5rem;
                }
            }

            .heroSubtitle_mobile{
                display: block;
                font-size: $sixteen;
                color: $darkText;
                margin-top: 1.5rem;
                text-align: center;

                @media screen and (min-width: 768px) {
                    display: none;
                }
            }

            .downloadApp {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 1.5rem;

                .appStore,
                .googlePlay {
                    height: 64px;
                    width: 200px;
                    padding: 8px 20px;
                    background: $black;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 0.5rem;

                    .downloadText {
                        font-family: $altFont;
                        font-size: $twelve;
                        font-weight: 600;
                        line-height: 16px;
                    }

                    .appText {
                        font-family: $altFont;
                        font-size: $eighteen;
                        font-weight: 800;
                        text-transform: capitalize;
                        line-height: 20px;
                    }
                }

                .appStore {
                    margin-right: 1rem;
                }
            }

            .learnMore {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 1.5rem;
                position: relative;

                .learnMoreText {
                    font-size: $twenty;
                    font-weight: 600;
                    color: $secondaryBg;
                    margin-left: 1rem;
                }

                .learnMoreIcon {
                    height: 72px;
                    width: 72px;
                    border-radius: 50%;
                    background: #e5e5e5;
                    display: grid;
                    place-items: center;
                    position: relative;

                    .learnMoreIcon_grey {
                        height: 65px;
                        width: 65px;
                        border-radius: 50%;
                        background: $assets;
                        display: grid;
                        place-items: center;
                        position: absolute;
                        opacity: 1;
                        animation: scaleIn 2s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);
                        
                        @keyframes scaleIn {
                            from {
                              transform: scale(.5, .5);
                              opacity: 1;
                            }
                            to {
                              transform: scale(1, 1);
                              opacity: 0;
                            }
                          }

                        }

                        .learnMoreIcon_black {
                            width: 45px;
                            height: 45px;
                            border-radius: 50%;
                            background: $secondaryBg;
                            display: grid;
                            place-items: center;
                            position: relative;
                            z-index: 1;
                        }
                }
            }
        }
    }
}
