@import "../../variable/variable.scss";

.heroSection {
    background: $white;
    width: 100vw;
    padding: .5rem;

    @media screen and (min-width: 500px) {
        padding: 1rem;
    }

    @media screen and (min-width: 768px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 2rem;
    }
    
    .heroContent {
        width: 100%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        row-gap: 3rem;

        @media screen and (min-width: 768px) {
            align-items: center;
        }

        @media screen and (min-width: 1024px) {
            width: 90%;
            flex-direction: row;
            column-gap: 2rem;
            align-items: flex-start;
        }

        .heroTexts {
            background: url(../../assets/images/HeroBg.svg) no-repeat;
            background-size: contain;
            background-position: center;

            @media screen and (min-width: 768px) {
                width: 80%;
            }

            @media screen and (min-width: 1024px) {
                width: 50%;
                // padding: 3rem 0 0;
            }

            .heroTitle {
                color: $darkText;
                font-family: $headFont;
                text-align: center;

                @media screen and (max-width: 380px) {
                    font-size: $thirtyTwo;
                }

                @media screen and (min-width: 1024px) {
                    text-align: left;
                    font-size: $fourty;
                }

                @media screen and (min-width: 1280px) {
                    font-size: $sixty;
                }
            }

            .heroSubtitle_desktop {
                display: none;

                @media screen and (min-width: 1024px) {
                    display: block;
                    font-size: $twenty;
                    color: $darkText;
                    margin-top: 1.5rem;
                    line-height: 28px;
                }
            }

            .heroSubtitle_mobile {
                display: block;
                font-size: $sixteen;
                color: $darkText;
                margin-top: 1.5rem;
                text-align: center;
                line-height: 32px;

                @media screen and (min-width: 1024px) {
                    display: none;
                }
            }

            .downloadApp_btns {
                justify-content: space-evenly;

                @media screen and (min-width: 400px) {
                    justify-content: center;
                }

                @media screen and (min-width: 1024px) {
                    justify-content: flex-start;
                }
            }

            .learnMore {
                display: none;

                @media screen and (min-width: 1024px) {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: 1.5rem;
                    position: relative;
                }

                .learnMoreText {
                    font-size: $twenty;
                    font-weight: 600;
                    color: $secondaryBg;
                    margin-left: 1rem;
                }

                .learnMoreIcon {
                    height: 72px;
                    width: 72px;
                    border-radius: 50%;
                    background: #e5e5e5;
                    display: grid;
                    place-items: center;
                    position: relative;

                    .learnMoreIcon_grey {
                        height: 65px;
                        width: 65px;
                        border-radius: 50%;
                        background: $assets;
                        display: grid;
                        place-items: center;
                        position: absolute;
                        opacity: 1;
                        animation: scaleIn 1.5s infinite cubic-bezier(0.18, 0.89, 0.32, 1.28);

                        @keyframes scaleIn {
                            from {
                                transform: scale(0.75, 0.75);
                                opacity: 1;
                            }
                            to {
                                transform: scale(1, 1);
                                opacity: 0;
                            }
                        }
                    }

                    .learnMoreIcon_black {
                        width: 45px;
                        height: 45px;
                        border-radius: 50%;
                        background: $secondaryBg;
                        display: grid;
                        place-items: center;
                        position: relative;
                        z-index: 1;
                    }
                }
            }
        }

        .animatedImages_wrap{
            width: 13rem;
            height: 19rem;
            margin: auto;

            @media screen and (min-width: 340px) {
                width: 14rem;
                height: 22rem;
                margin: auto;
            }

            @media screen and (min-width: 401px) {
                width: 16rem;
                height: 24rem;
                margin: auto;
            }
            
            @media screen and (min-width: 768px) {
                width: 24rem;
                height: 34rem;
            }
            
            .animatedImages_content{
                position: relative;
                left: 1rem;

                .animatedImage_one{
                    position: absolute;
                    bottom: -18rem;
                    left: -30%;
                    width: 2rem;

                    @media screen and (max-width: 400px) {
                        bottom: -13rem;
                        left: -35%;
                        width: 1.5rem;
                    }

                    
                    @media screen and (min-width: 720px) {
                        bottom: -24rem;
                        left: -5rem;
                        width: 3rem;
                    }
                }

                .animatedImage_two{
                    position: absolute;
                    right: -3rem;
                    z-index: 1;
                    width: 5rem;
                    
                    @media screen and (min-width: 1024px) {
                        right: -3.5rem;
                        width: auto;
                    }
                }

                .animatedImage_three{
                    position: absolute;
                    top: 1rem;
                    right: 2rem;
                    z-index: 1;

                    @media screen and (min-width: 768px) {
                        top: 2rem;
                    }
                }

                .animatedImage_four{
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}
