@import '../../variable/variable.scss';

.ourStory_section{
    background: $white;
    width: 100%; 
    height: 100%;
    padding: .5rem;
    
    @media screen and (min-width: 500px) {
        padding: 1rem;
    }

    @media screen and (min-width: 768px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 900px) {
        padding: 2rem;
    }

    .ourStory_content{
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
        @media screen and (min-width: 900px) {
            flex-direction: row;
            align-items: flex-start;
            gap: 2rem;
        }
        
        @media screen and (min-width: 1024px) {
            width: 90%;
        }

        .ourStory_bodyVideo{
            width: 80%;
            height: 210px;
            
            @media screen and (min-width: 768px) {
                width: 590px;
                height: 330px;
                position: relative;
            }

            @media screen and (min-width: 1024px) {
                height: 430px;
                max-width: 590px;
            }

            .background{
                display: none;

                @media screen and (min-width: 900px) {
                    display: block;
                    position: absolute;
                    right: -2.5rem;
                    bottom: 0px;
                    z-index: 0;
                }
            }
            
            .videoPlayer{
                height: 100%;
                width: 100%;
                border-radius: 16px;
                background: $assets;

                @media screen and (min-width: 768px) {
                    width: 75%;
                    margin: auto;
                }

                @media screen and (min-width: 900px) {
                    width: 100%;
                    height: 80%;
                    position: relative;
                    z-index: 1;
                }
            }
        }
        
        .ourStory_bodyText{
            width: 100%;
            text-align: justify;

            @media screen and (min-width: 900px) {
                width: 45%;
                max-width: 510px;
                text-align: left;
            }

            .ourStory_title{
                font-size: $thirtyTwo;
                line-height: 40px;
                color: $black;
                margin-bottom: 24px;
                
                @media screen and (min-width: 900px) {
                    font-size: $fourtyEight;
                }
            }

            .ourStory_text{
                color: $black;
            }
        }

    }    
}