@import '../../variable/variable.scss';

.ourStory_section{
    background: $white;
    width: 100%; 
    height: 100%;
    padding: .5rem;
    
    @media screen and (min-width: 500px) {
        padding: 1rem;
    }

    @media screen and (min-width: 768px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 2rem;
    }

    .ourStory_content{
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        
        @media screen and (min-width: 900px) {
            width: 90%;
            flex-direction: row;
            align-items: flex-start;
            gap: 2rem;
        }

        .ourStory_bodyVideo{
            width: 100%;
            height: 424px;
            
            @media screen and (min-width: 900px) {
                width: 55%;
                background: url('../../assets/images/ourStoryImages/videoBg.png');
                background-size: cover;
                background-position: bottom;
                background-repeat: no-repeat;
                
            }
            
            .videoPlayer{
                height: 354px;
                width: 100%;
                border-radius: 16px;
                background: $assets;

                @media screen and (min-width: 768px) {
                    width: 75%;
                    margin: auto;
                }

                @media screen and (min-width: 900px) {
                    max-width: 588px;
                    width: 100%;
                }
            }
        }
        
        .ourStory_bodyText{
            width: 100%;
            text-align: justify;

            @media screen and (min-width: 900px) {
                width: 45%;
                max-width: 510px;
                text-align: left;
            }

            .ourStory_title{
                font-size: $thirtyTwo;
                line-height: 40px;
                color: $black;
                margin-bottom: 24px;
                
                @media screen and (min-width: 900px) {
                    font-size: $fourtyEight;
                }
            }

            .ourStory_text{
                color: $black;
            }
        }

    }    
}