@import "../../variable/variable.scss";

.teamSection {
    width: 100%;
    height: 100%;
    background: url(../../assets/images/teamImages/Vector.png) $secondary;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0.5rem;

    @media screen and (min-width: 500px) {
        padding: 1rem;
    }

    @media screen and (min-width: 768px) {
        background-size: 90%;
        padding: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 2rem;
    }

    .teamSection_content {
        margin: 3rem auto;

        .teamSection_head {
            width: 100%;
            text-align: center;
            margin: 0 auto 2rem;

            @media screen and (min-width: 768px) {
                width: 80%;
            }

            @media screen and (min-width: 950px) {
                width: 60%;
                max-width: 810px;
            }

            .teamSection_title {
                font-weight: 700;
                color: $black;
                margin-bottom: 1rem;
            }

            p {
                font-size: $sixteen;
                font-weight: 500;
                color: $black;
            }
        }

        .slide {
            display: grid;
            width: 93vw !important;
            overflow: hidden;
            gap: 1rem;
            grid-template-columns: repeat(7, 282px);
            grid-template-rows: 300px;

            .teamSection_profile {
                display: grid !important;
                place-items: center;
                height: 300px;
                background: $black;
                border-radius: 10px;
                padding: 19px 16px;
                margin: 0 auto;

                .profileImage img {
                    width: 195.62px;
                    height: 198.38px;
                    border: 4px solid $primary;
                    border-radius: 50% 50% 50% 16px;
                    object-fit: cover;
                }

                .teamProfile_data {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 1rem;

                    .profileData {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;

                        .profileName {
                            font-size: 15.5px;
                            font-weight: 700;
                            color: $white;
                        }

                        .teamPosition {
                            font-size: $fourteen;
                            font-weight: 400;
                            color: $primary;
                        }
                    }

                    .profileLinks {
                        display: flex;
                        gap: 8px;

                        .footerFlex_icon {
                            height: 20px;
                            width: 20px;
                            display: grid;
                            place-items: center;
                            border-radius: 50%;
                            background: $primary;
                        }
                    }
                }
            }
        }
    }
}

.images-wrap{
    gap: 1rem;
}

.nextArrow{
    width: 18px;
    background: orange;
    height: 8px;;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.prevArrow{
    width: 40px;
    color: #fff;
    background: #000;
    height: 8px;;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
}

.teamSection_profile .pagination > div:nth-child(n+3) {
    display: none;
}

.teamSection .react-slideshow-container .nav:first-of-type{
    left: 41%;
    bottom: -35px;
    
    @media screen and (min-width: 500px) {
        left: 43%;
    }
    @media screen and (min-width: 700px) {
        left: 45%;
    }
    @media screen and (min-width: 1024px) {
        left: 46%;
    }
}

.teamSection .react-slideshow-container .nav:last-of-type{
    right: 41%;
    bottom: -35px;

    @media screen and (min-width: 500px) {
        right: 43%;
    }
    @media screen and (min-width: 700px) {
        right: 45%;
    }
    @media screen and (min-width: 1024px) {
        right: 46%;
    }
}

.react-slideshow-wrapper .images-wrap>div[aria-hidden='false'],
.react-slideshow-wrapper .images-wrap>div[aria-hidden='true']{
 width: 280px !important;
}