@import '../../variable/variable.scss';

.discoverSection{
    display: none;

    @media screen and (min-width: 900px) {
        display: grid;
        place-items: center;
        width: 100vw;
        height: 100%;
        padding: 2rem;
        background: $secondary;
    }

    .discoverContent{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
        background: url('../../assets/images/DiscoverBackground.png') no-repeat;
        background-size: contain;
        background-position: top;
        width: 90%;
        margin: 2rem auto;
        
        .discoverText{
            width: 510px;
            margin-right: 4rem;

            .discoverTitle{
                font-size: $fourty;
                text-align: left;
                color: $black;
                margin-bottom: 0.5rem;
                line-height: 40px;
                
                .whiteText{
                    color: $white;
                }
            }
    
            .discoverDescription{
                color: $black;
                font-size: $eighteen;
                text-align: left;
                line-height: 28px;
            }

            .downloadApp_btns{
                margin-top: 1rem;
            }
        }
    }
}