@import "../../variable/variable.scss";

.preloader {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: $primary;
    position: relative;
    overflow: hidden;

    .ellipseOne{
        position: absolute;
        top: -10%;
        left: auto;
        z-index: 1;
    }

    .preloadText{
        font-size: 2rem;
        font-weight: 700;
        font-family: $textFont;

        @media screen and (min-width: 768px) {
            font-size: 3rem;
        }
    }

    // .preloadCircle {
    //     width: 3rem;
    //     height: 3rem;
    //     margin-top: 1rem;
    //     border-radius: 50%;
    //     border: 2px dotted $white;
    //     transform: rotate(45deg);
    //     animation: circle 5s linear infinite;
    // }

    // @keyframes circle {
    //     from {
    //         transform: rotate(0deg);
    //     }
    //     to {
    //         transform: rotate(359deg);
    //     }
    // }

    .ellipseTwo{
        position: absolute;
        bottom: -10%;
        left: auto;
        z-index: 1;
        transform: rotate(180deg);
    }
}
