header {
    background-color: var(--black);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 1rem;

        @media screen and (min-width: 768px) {
            display: none;
        }

        .menuButton{
            height: fit-content;
            background: none;
            border: none;
            outline: none;
        }

        .navbar {
            display: none;
            flex-direction: column;
            height: 100vh;
            width: 100vw;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            background: var(--secondaryBg);
            text-align: left;
            padding: 1.5rem 1rem 1rem;
            transition: all 300ms ease-in-out;

            .closeMenu {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #F8F8F8;
                border-radius: 5px;
                align-self: flex-end;
                border: none;
                outline: none;
            }

            .navList{
                margin-top: 2.5rem;

                &:last-child{
                    margin-top: 3rem;
                }

                .navItem{
                    padding-bottom: 1.5rem;
                    
                    .navTitle{
                        color: var(--navText);
                        font-size: var(--sixteen);
                        font-family: var(--font-text);
                        font-weight: 500;
                        text-transform: none;
                    }
                    
                    .navLink{
                        color: var(--whiteText);
                        font-size: calc(var(--twentyFour) + 4px);
                        font-family: var(--font-head);
                        font-weight: 500;
                        text-transform: capitalize;

                        &:hover{
                            color: var(--primary);
                        }
                    }
                }

            }

            .downloadApp{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 2rem;
                
                .appStore, .googlePlay{
                    height: 64px;
                    width: 168px;
                    padding: 8px 20px;
                    background: var(--black);
                    border-radius: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .5rem;

                    .appleLogo{
                        margin-right: 16px;
                    }
                    
                    .downloadText{
                        font-family: var(--font-alt);
                        font-size: var(--ten);
                        font-weight: 600;
                        line-height: 13px;
                    }
                    
                    .appText{
                        font-family: var(--font-alt);
                        font-size: var(--sixteen);
                        font-weight: 700;
                        text-transform: capitalize;
                        line-height: 13px;
                    }
                }
                
                .appStore{
                    margin-right: 1rem;
                }
            }
        }

        .show-navbar{
            display: flex;
        }
    }

    .desktopHeader {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            margin: 2rem 0;

            .navbar {
                
                
                .navList{
                    display: flex;
                    
                    .navLink{
                        color: var(--whiteText);
                        font-size: var(--sixteen);
                        font-family: var(--font-head);
                        font-weight: 500;
                        text-transform: none;
                        padding: 0 1rem;
                        transition: all 300ms ease-in-out;

                        &:hover{
                            color: var(--primary);
                        }
                    }
                }
            }

            .downloadApp{
                width: 197px;
                height: 53px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: var(--eighteen);
                background: var(--primary);
                color: var(--black);
                text-transform: capitalize;
                border-radius: 8px;
            }
        }
    }
}
