@import "../../variable/variable.scss";

header {
    width: 100vw;
    background-color: $black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;

    .mobileHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: .5rem;
        
        @media screen and (min-width: 500px) {
            margin: 1rem;
        }

        @media screen and (min-width: 768px) {
            margin: 1.5rem;
        }

        @media screen and (min-width: 1020px) {
            display: none;
        }

        .menuButton{
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            background: none;
            border: none;
            outline: none;
        }

        .navbar {
            display: grid;
            height: 100vh;
            width: 100vw;
            position: fixed;
            overflow: scroll;
            z-index: 2;
            top: 0;
            left: -120%;
            background: $secondaryBg;
            text-align: left;
            padding: 1.5rem 1rem 1rem;
            transition: all 800ms ease-in-out;

            @media screen and (min-width: 414px) {
                display: flex;
                flex-direction: column;   
            }

            .closeMenu {
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #F8F8F8;
                border-radius: 5px;
                margin-left: auto;
                margin-right: 0;
                border: none;
                outline: none;

                &:hover{
                    background: $primary;
                }
            }
            
            .navList{
                margin-top: 2.35rem;
                
                
                &:nth-of-type(3) {

                    li {

                        &:first-child {
                            
                            h6{
                                font-size: $eighteen;
                            }
                        }

                    }
                }
                
                .navItem{
                    padding-bottom: 1.35rem;
                    
                    .navTitle{
                        color: $navText;
                        font-size: $sixteen;
                        font-family: $textFont;
                        font-weight: 500;
                        text-transform: none;
                    }
                    
                    .navLink{
                        color: $whiteText;
                        font-size: 24px;
                        font-family: $headFont;
                        font-weight: 500;
                        text-transform: capitalize;

                        &:hover{
                            color: $primary;
                        }
                    }

                    .activeLink{
                        color: $primary;
                        font-size: 24px;
                        font-family: $headFont;
                        font-weight: 500;
                        text-transform: capitalize;
                    }
                }

            }

            .downloadApp_btns{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 2rem;
                
                .appStore, .googlePlay{
                    height: 64px;
                    width: auto;
                    padding: 8px 20px;
                    background: $black;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: .5rem;
                    gap: 1rem;

                    // .appleLogo{
                    //     margin-right: 16px;
                    // }
                    
                    .downloadText{
                        font-family: $altFont;
                        font-size: $ten;
                        font-weight: 600;
                        line-height: 13px;
                    }
                    
                    .appText{
                        font-family: $altFont;
                        font-size: $sixteen;
                        font-weight: 700;
                        text-transform: capitalize;
                        line-height: 13px;
                    }
                }
                
                .appStore{
                    margin-right: 1rem;
                }
            }
        }

        .show-navbar{
            left: 0;
            transition: left .8s ease-in-out;
        }
    }

    .desktopHeader {
        display: none;

        @media screen and (min-width: 1021px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: 1.5rem auto;

            .navbar {
                
                .navList{
                    display: flex;
                    
                    .navLink{
                        color: $whiteText;
                        font-size: $sixteen;
                        font-family: $headFont;
                        font-weight: 500;
                        text-transform: none;
                        padding: 0 1rem;
                        transition: all 300ms ease-in-out;
                    }
                    
                    .activeLink{
                        color: $primary;
                        font-size: $sixteen;
                        font-family: $headFont;
                        font-weight: 500;
                        text-transform: none;
                        padding: 0 1rem;
                        transition: all 300ms ease-in-out;
                    }
                }
            }

            .headerDownload_btn{
                width: 197px;
                height: 53px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $eighteen;
                background: $primary;
                color: $black;
                text-transform: capitalize;
                border-radius: 8px;

                &:hover{
                    background: $yellowText;
                }

                &:focus{
                    background: $primary;
                }

                &:disabled{
                    background: #995700;
                    color: #333333;
                }
                
            }
        }
    }
}
