@import "../../variable/variable.scss";

.exploreSection{
    width: 100vw;
    height: 100%;
    padding: 2rem;
    background-color: $black;
    
    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    .exploreContent{
        width: 100%;
        margin: 0 auto 2rem;
                                                                                        

        @media screen and (min-width: 768px) {
            width: 90%;
        }


        .exploreTitle{
            text-align: center;
            color: $white;
            margin-bottom: .5rem;
            
            @media screen and (min-width: 768px) {
                margin-bottom: 1rem;
            }
        }

        .exploreSubtitle{
            font-size: $eighteen;
            color: $white;
            text-align: center;
        }
    }
}