@import "../../variable/variable.scss";

.exploreSection {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background: $black url(../../assets/images/HeroBg.svg) no-repeat;
    background-size: cover;
    background-position: center top;

    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    .exploreContent {
        margin: 2rem auto;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        .exploreTitle {
            text-align: center;
            color: $white;
            margin-bottom: 0.5rem;

            @media screen and (min-width: 768px) {
                margin-bottom: 1rem;
            }
        }

        .exploreSubtitle {
            font-size: $eighteen;
            color: $white;
            text-align: center;
        }

        .exploreCard_wrap {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(3, 1fr);
            overflow: scroll;
            gap: 1rem;
            position: relative;
            max-height: 450px;
            margin-top: 2rem;

            @media screen and (min-width: 900px) {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(4, 1fr);
                max-height: 788px;
            }

            &::-webkit-scrollbar {
                width: 0px;
              }

            .exploreCard {
                width: 213px;
                height: 213px;
                position: relative;
                background: #0e0e0e;
                border-radius: 16px;
                cursor: pointer;

                @media screen and (min-width: 900px) {
                    width: 250px;
                    height: 250px;
                }

                .exploreImage img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    bottom: 1rem;
                    border-radius: 16px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 55.74%, rgba(0, 0, 0, 0.88) 97.22%);
                    filter: opacit;
                }

                .exploreCard_content {
                    position: absolute;
                    z-index: 1;
                    bottom: 1rem;
                    width: 100%;

                    .exploreCard_title {
                        font-size: $fourteen;
                        font-family: $headFont;
                        text-align: center;
                    }

                    .exploreCard_subtitle {
                        font-size: $ten;
                        font-family: $headFont;
                        text-align: center;
                    }

                    .logosWrap {
                        display: flex;
                        justify-content: space-between;
                        align-self: flex-end;
                        width: 1.5rem;
                        margin: 0.5rem 0.5rem 1rem auto;

                        .whiteLogo {
                            width: 10px;
                            height: 10px;
                            background: $white;
                            border-radius: 50%;
                            animation: movebtn 3s ease-in-out infinite;
                            transition: all 0.5s ease-in-out;
                        }

                        .orangeLogo {
                            width: 10px;
                            height: 10px;
                            background: $primary;
                            border-radius: 0 50% 50% 50%;
                            animation: movebtn 3s ease-in-out infinite;
                            transition: all 0.5s ease-in-out;
                        }

                        @keyframes movebtn {
                            0% {
                                transform: rotate(0deg) translateY(0px) ;
                            }
                            25% {
                                transform: rotate(35deg) translateY(10px) ;
                            }
                            50% {
                                transform: rotate(0deg)translateY(0px) ;
                            }
                            75% {
                                transform: rotate(-35deg) translateY(-10px);
                            }
                            100% {
                                transform: rotate(0deg) translateY(0px) ;
                            }
                        }
                    }
                }
            }

            .hoverContent {
                opacity: 0;
                position: absolute;
                top: 20%;
                left: -70%;
                height: 400px;
                width: 400px;
                z-index: 100;
                transition: ease-in 0.5s;
                border-radius: 16px;

                .exploreImage img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                    bottom: 1rem;
                    border-radius: 16px;
                }

                .exploreCard_content {
                    position: absolute;
                    z-index: 1;
                    bottom: 1rem;
                    width: 100%;

                    .exploreCard_title {
                        font-size: $fourteen;
                        font-family: $headFont;
                        text-align: center;
                    }

                    .exploreCard_subtitle {
                        font-size: $ten;
                        font-family: $headFont;
                        text-align: center;
                    }

                    .logosWrap {
                        display: flex;
                        justify-content: space-between;
                        align-self: flex-end;
                        width: 1.5rem;
                        margin: 0.5rem 0.5rem 1rem auto;

                        .whiteLogo {
                            width: 10px;
                            height: 10px;
                            background: $white;
                            border-radius: 50%;
                            animation: movebtn 3s ease-in-out infinite;
                            transition: all 0.5s ease-in-out;
                        }

                        .orangeLogo {
                            width: 10px;
                            height: 10px;
                            background: $primary;
                            border-radius: 0 50% 50% 50%;
                            animation: movebtn 3s ease-in-out infinite;
                            transition: all 0.5s ease-in-out;
                        }
                        @keyframes movebtn {
                            0% {
                                transform: rotate(0deg) translateY(0px) ;
                            }
                            25% {
                                transform: rotate(35deg) translateY(10px) ;
                            }
                            50% {
                                transform: rotate(0deg)translateY(0px) ;
                            }
                            75% {
                                transform: rotate(-35deg) translateY(-10px);
                            }
                            100% {
                                transform: rotate(0deg) translateY(0px) ;
                            }
                        }
                    }
                }
            }

            .exploreCard + .hoverContent {
                opacity: 1;
                left: 70%;
                transition: 0.5s;
            }
        }
    }
}
