.featureSection{
    background: var(--whblackite);
    height: 100%;
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;

    .featureContent{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    
        .featuresTitle{
            font-size: var(--twentyFour);
            font-family: var(--font-text);
            color: var(--white);
            margin: 3rem 0 2rem;
        }
    
        .featuresList{
            margin-top: 2rem;
    
            .featuresItem{
                margin-bottom: 1rem;
    
                .feature{
                    color: var(--primary);
                }
            }
        }
    }
}