@import "../../variable/variable.scss";

.featureSection{
    background: $black;
    height: 100%;
    width: 100vw;
    padding: 2rem;
    margin-bottom: 2rem;

    .featureContent{
        width: 100%;
        margin: 0 auto;
        display: block;

        @media screen and (min-width: 768px) {
            width: 90%;
        }
    
        .featuresTitle{
            font-size: $twentyFour;
            font-family: $textFont;
            color: $white;
            margin: 3rem 0 2rem;
        }

        .featureFlex{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .featuresList{
                margin-top: 1rem;
                
                @media screen and (min-width: 768px) {
                    width: 65%;
                }
        
                .featuresItem{
                    
                    @media screen and (min-width: 768px) {
                        margin-bottom: 1rem;
                    }
        
                    .feature{
                        color: $yellowText;
                    }
                }
            }

            .featureImage{
                display: none;

                @media screen and (min-width: 900px) {
                    display: block;
                    width: 35%;
                }
            }
        }
    }
}