@import "../../variable/variable.scss";

.featureSection{
    background: $black;
    height: 100%;
    width: 100vw;
    padding: 1rem;
    
    @media screen and (min-width: 768px) {
        padding: 2rem;
    }
    
    .featureContent{
        display: block;
        width: 100%;
        margin: 2rem auto;


        @media screen and (min-width: 768px) {
            width: 90%;
        }
    
        .featuresTitle{
            font-size: $eighteen;
            font-family: $textFont;
            color: $white;
            margin-top: 3rem;
            
            @media screen and (min-width: 768px) {
                font-weight: 500;
                font-size: $twentyFour;
                margin: 3rem 0 1rem;
            }
        }

        .featureFlex{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .featuresList{
                margin-top: 1rem;
                
                @media screen and (min-width: 768px) {
                    width: 65%;
                }
        
                .featuresItem{
                    
                    @media screen and (min-width: 768px) {
                        margin-bottom: 1rem;
                    }
        
                    .feature{
                        color: $yellowText;
                    }
                }
            }

            .featureImage{
                display: none;

                @media screen and (min-width: 900px) {
                    display: block;
                    width: 35%;
                }
            }
        }
    }
}