@import "../../variable/variable.scss";

.featureSection{
    background: $black;
    height: 100%;
    width: 100vw;
    padding: .5rem;
    
    @media screen and (min-width: 500px) {
        padding: 1rem;
    }

    @media screen and (min-width: 768px) {
        padding: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        padding: 2rem;
    }
    
    .featureContent{
        display: block;
        width: 100%;
        margin: 2rem auto;


        @media screen and (min-width: 768px) {
            width: 90%;
        }
    
        .featuresTitle{
            font-size: $eighteen;
            font-family: $textFont;
            color: $white;
            margin-top: 3rem;
            
            @media screen and (min-width: 768px) {
                font-weight: 500;
                font-size: $twentyFour;
                margin: 3rem 0 1rem;
            }
        }

        .featureFlex{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            .featuresList{
                margin-top: 1rem;
                
                @media screen and (min-width: 768px) {
                    width: 65%;
                }
        
                .featuresItem{
                    display: flex;
                    position: relative;

                    @media screen and (min-width: 768px) {
                        margin-bottom: 2rem;
                    }
        
                    .feature{
                        color: $yellowText;
                        
                        @media screen and (min-width: 768px) {
                            cursor: pointer;
                            &:hover + .featureImage{
                                right: -10%;
                                transform: translate(50%, -100px);
                            }
                        }
                    }

                    .featureImage{
                        display: none;

                        @media screen and (min-width: 768px) {
                            display: block;
                            width: 359px;
                            height: 359px;
                            border-radius: 1rem;
                            position: absolute;
                            right: -200%;
                            transition: right .7s ease-in-out;
                        }
                    }
                }
            }

            .featuredImage{
                display: none;

                @media screen and (min-width: 768px) {
                    display: block;
                    width: 35%;
                    height: 380px;
                    position: relative;
                    z-index: 100;
                }
            }
        }
    }
}