@import "../../variable/variable.scss";

footer {
    width: 100vw;
    background: $black;
    padding: 1rem;
    
    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        @media screen and (min-width: 768px) {
            width: 90%;
            margin: 0 auto;
        }

        @media screen and (min-width: 900px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 2rem;
        }

        .footerFlex_item {
            margin-bottom: 1.5rem;

            @media screen and (min-width: 768px) {
                margin-bottom: 0;
                &:nth-child(2),
                &:last-child {
                    margin-top: 1.8rem;
                }
            }

            .footerFlex_head {
                color: $primary;
                font-size: $twentyTwo;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            .footerFlex_body {
                color: $white;
                font-size: $eighteen;
                font-weight: 400;
                margin-bottom: 1rem;
                max-width: 410px;

                .footerFlex_listOne {
                    display: flex;
                    flex-direction: column;

                    .footerFlex_link {
                        margin-bottom: 1rem;
                        color: $footerText;
                    }

                    .footerFlex_text {
                        color: $footerText;
                    }
                }

                .footerFlex_listTwo {
                    display: flex;
                    align-items: center;

                    .footerFlex_icon {
                        display: grid;
                        place-items: center;
                        padding: 3px;
                        margin-right: 1rem;
                    }
                    .linkedinIcon {
                        width: 1.5rem;
                        height: 1.5rem;
                        background: #fff1dd;
                        border-radius: 50%;
                    }
                }

                .footeFlex_form {
                    width: 280px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    margin-bottom: 1rem;

                    .footerFlex_input {
                        width: 80%;
                        height: 100%;
                        outline: none;
                        border: none;
                        border-radius: 8px 0 0 8px;
                        padding: 0 1rem;

                        &::placeholder {
                            font-size: $fourteen;
                            font-family: $textFont;
                            color: #4d4d4d;
                        }
                    }

                    .footerFlex_btn {
                        width: 20%;
                        height: 100%;
                        border: none;
                        border-radius: 0 8px 8px 0;
                        background: $primary;
                        color: $black;
                        display: grid;
                        place-items: center;
                        position: relative;

                        .submitBtn {
                            height: 100%;
                            width: 100%;
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
