@import "../../variable/variable.scss";

.blogSection {
    width: 100vw;
    height: 100%;
    padding: 1rem;
    background-color: $black;

    @media screen and (min-width: 768px) {
        padding: 2rem;
    }

    .blogContent {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto 2rem;

        @media screen and (min-width: 768px) {
            width: 90%;
        }

        .blogTitle {
            text-align: center;
            color: $white;
            margin-bottom: 0.5rem;

            @media screen and (min-width: 768px) {
                margin-bottom: 1rem;
            }
        }

        .blogSubtitle {
            font-size: $eighteen;
            color: $white;
            text-align: center;
        }

        .blogArticle_wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 2rem;

            @media screen and (min-width: 900px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .blogArticle {
                max-width: 385px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;

                @media screen and (min-width: 768px) {
                    // width: 100%;
                    &:nth-child(6n + 2),
                    &:nth-child(6n + 5) {
                        margin-top: 4rem;
                    }
                }

                .articleImage {
                    cursor: pointer;
                    height: 180px;
                    border-radius: 16px 16px 0px 0px;
                    overflow: hidden;
                    
                    @media screen and (min-width: 800px) {
                        height: 275px;
                    }

                    img {
                        height: 100%;
                        transition: transform 0.5s ease-in-out;
                    }

                    &:hover img{
                        transform: scale(1.2) rotate(-5deg);
                        opacity: 0.8;
                    }
                }

                .articleContent {
                    display: grid;
                    width: 100%;
                    row-gap: 16px;
                    padding: 24px 16px;
                    background: #111111;
                    border-radius: 0px 0px 16px 16px;

                    .articleTitle {
                        font-size: $twentyFour;
                        line-height: 24px;
                    }

                    .articleSubtitle {
                        font-size: $fourteen;
                        font-weight: 600;
                        color: $white;
                    }

                    .articleDescription {
                        display: flex;
                        font-size: $sixteen;
                        color: $white;

                        img {
                            width: 48px;
                            height: 48px;
                            margin-right: 0.75rem;
                            border: 1.5px solid $primary;
                            border-radius: 50%;
                        }

                        .articleTimeline {
                            p {
                                font-size: $fourteen;
                                color: $white;
                                line-height: 21px;

                                &:first-child {
                                    font-weight: 600;
                                    margin-bottom: 0.25rem;
                                }
                            }
                        }
                    }
                }
            }
        }

        .viewMore {
            width: 120px;
            height: 38px;
            align-self: center;
            padding: 10px 15px;
            margin-top: 2rem;
            background: $primary;
            border-radius: 8px;
            color: $black;
            font-size: $sixteen;
            font-weight: 600;
            cursor: pointer;
            text-align: center;
            transition: all 0.3s;

            &:hover {
                transform: scale(0.9, 0.9);
            }
        }
    }
}
