@import "../../variable/variable.scss";

.errorPage {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    
    @media screen and (min-width: 768px) {
        background: url(../../assets/images/404Bg.png) no-repeat;
        background-position: bottom;
        background-size: cover;
    }

    .errorPage Header {
        display: block;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    
    .errorContent{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: calc(100vh - 110px);
        padding: 1rem;
        margin: auto;
        
        .errorPage__title {
            margin: 1rem 0;
            font-size: $thirtyTwo;
            color: $white;
            
            @media screen and (min-width: 768px) {
                font-size: $fourty;   
            }
            
            @media screen and (min-width: 1024px) {
                font-size: 4rem;   
            }
        }
    
        .errorPage__subtitle {
            color: $white;
            font-size: $twentyFour;
            margin-top: 1rem;

            @media screen and (max-width: 599px) {
                font-size: $twentyEight;   
            }
    
            @media screen and (min-width: 600px) {
                font-size: $thirtyTwo;   
            }

            @media screen and (min-width: 900px) {
                font-size: $fourty;   
            }

            @media screen and (min-width: 1024px) {
                font-size: $fourtyEight;   
            }
        }

        .errorPage__textMobile {
            font-size: $sixteen;
            font-weight: 400;
            color: $white;
    
            @media screen and (min-width: 900px) {
                display: none;
                font-size: $twentyFour;   
            }
        }

        .errorPage__textDesktop {
            font-size: $sixteen;
            font-weight: 400;
            color: $white;
            display: none;
    
            @media screen and (min-width: 900px) {
                display: block;
                font-size: $twentyFour;   
            }
        }

        .errorPage__button {
            height: 58px;
            width: 232px;
            text-align: center;
            border-radius: 9px;
            font-size: $sixteen;
            font-weight: 600;
            padding: 19px 38px;
            border: none;
            outline: none;
            color: $darkText;
            background: $primary;
            text-decoration: none;
            margin-top: 2rem;

            @media screen and (min-width: 900px) {
                font-size: $twenty;   
                font-weight: 500;
            }
        }
    }


}
