@import "../../variable/variable.scss";

.downloadApp_btns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
    
    .appStore, .googlePlay{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64px;
        padding: 8px 20px;
        gap: 16px;
        background: $black;
        border-radius: 10px;
        margin-bottom: 8px;
        
        .downloadText{
            font-family: $altFont;
            font-size: $ten;
            font-weight: 600;
            line-height: 13px;
        }
        
        .appText{
            font-family: $altFont;
            font-size: $sixteen;
            font-weight: 700;
            text-transform: capitalize;
            line-height: 13px;
        }
    }

    .appStore{
        width: 184px;
    }

    .googlePlay{
        width: 200px;
    }
    
    .appleLogo, .googleLogo{
        width: 24px;
        height: 28.75px;
    }
}