@import "../../variable/variable.scss";

.backToTop{
    position: relative;
  
  .iconPosition{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
  }

  .iconStyle{
    background-color: $primary;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
    
    &:hover{
      animation: none;
      background: $yellowText;
    }
  }

  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }

}