@import "../../variable/variable.scss";

.backToTop{
    position: relative;
  
  .iconPosition{
    position: absolute;
    bottom: 40px;
    right: .5rem;
    z-index: 20;
  }

  .iconStyle{
    display: grid;
    place-items: center;
    height: 52px;
    width: 52px;
    background-color: $primary;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    animation: scrollTop 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
    
    &:hover{
      animation: none;
      background: $yellowText;
      color: $black;
    }
  }

  @keyframes scrollTop {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(10px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
  }

}