@import "../../variable/variable.scss";

.contactHero_section{
    width: 100%;
    height: 90vh;    
    background: url(../../assets/images/contactImage/MobileBg.png) #FFEDD5;
    background-size: 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 2rem;

    @media screen and (min-width: 500px) and (max-width: 799px) {
        background-size: 80%;
        background-position: center right;
    }
    
    @media screen and (min-width: 900px){
        background: url(../../assets/images/contactImage/DesktopBg.png) #FFEDD5;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 2rem 3rem;
        height: 515px;
    }

    .contactHero_texts{
        width: 100%;
        max-width: 366px;
        margin: 2rem auto 0;
        text-align: center;

        @media screen and (min-width: 500px){
            max-width: 80%;
        }

        @media screen and (min-width: 900px){
            width: 44%;
            max-width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: left;
            margin-left: 2rem;
            margin-top: 0;
        }

        @media screen and (min-width: 1024px){
            width: 40%;
            margin-left: 3rem;
        }

        .contactHero_title{
            display: inline;
            text-align: center;
            color: $secondaryBg;

            @media screen and (min-width: 900px){
                text-align: left;
            }
        }
    
        .contactHero_subtitle{
            font-size: $eighteen;
            font-weight: 500;
            color: $assets;
            margin-top: 1rem;
        }
    }

}