@import "../../variable/variable.scss";

.contactHero_section{
    width: 100%;
    height: 515px;    
    background: url(../../assets/images/contactImage/DesktopBg.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 3rem;

    .contactHero_texts{
        width: 50%;
    }

    .contactHero_title{
        display: inline;
        color: $secondaryBg;
    }

    .contactHero_subtitle{
        font-size: $eighteen;
        color: $assets;
        margin-top: 1rem;
    }
}